td {
  padding: 0.5em
}

a {
  font-family    : monospace
; text-decoration: none
}

input[type=number] {
  text-align: right
}

td.number {
  text-align: right
}

input[type=date], input[type=number], input[type=text] {
  border-style: solid
}

input:invalid {
  border-color: pink
; border-width: thick
}

#refresh {
  margin-top: 1em
}

#modal {
  display         : none
; position        : absolute
; left            : 0
; top             : 0
; width           : 100vw
; height          : 100vh
; background-color: #80808080
; cursor          : wait
}

body {
  font-family: sans-serif
}
